<h1>Actor Details</h1>

<p><img src="<%= @actor.image_url %>" width="300"></p>
<p>Name: <%= @actor.name %></p>
<p>Date of Birth: <%= @actor.dob %></p>
<p>Biography: <%= @actor.bio %></p>

<td><a href="/actors">Back</a></td>
<td><a href="/actors/<%= @actor.id %>/edit_form">Edit</a></td>
<td><a href="/delete_actors/<%= @actor.id %>">Delete</a></td>
