<h1>Edit Movie #<%= @movie.id %></h1>

<form action="/update_movies/<%= @movie.id %>">

 Image Link:
 <input name="image_url" type="text" value="<%= @movie.image_url %>">
 Title:
 <input name="title" type="text" value="<%= @movie.title %>">
 Year:
 <input name="year" type="text" value="<%= @movie.year %>">
 Duration:
 <input name="duration" type="text" value="<%= @movie.duration %>">
Description:
 <input name="description" type="text" value="<%= @movie.description %>">

 <button>Update Movie</button>
</form>

<p><a href="/movies/<%= @movie.id %>">Cancel and go back</a></p>
